@media screen and (max-width: 450px){
        /*HEADER*/
    header{
        max-width: 100vw;
        top: 0;
        left: 0;
        position: fixed;
    }
    nav.menu{
        width: 100%;
        max-width: 100vw;
    }
    li a{
        color: black;
        text-decoration: none;
        font-size: 80px;
        font-weight: 700;
    }

    /*MAIN*/
    main h2{
        font-size: 80px;
        line-height: 0.8;
        position: relative;
        top: -35px;
        left: 15px;
    }
    main h3{
        font-size: 24px;
        position: relative;
        padding-left: 20px;
    }
    main .manifiesto h2{
        font-size: 42px;
        padding-bottom: 20px ;
    }
    .texto-gif{
        display: flex;
        width: 85%;
        position: relative;
    }
    main .texto-gif p{
        font-size: 16px;
    }
    .gif img{
        width: 100px;
        position: absolute;
        top: -20px;
        left: 20px;
    }
    .flex h2{
        font-size: 30px;
        position: relative;
        top: -25px;
        left: 25px;
    }
    section.carrusel{
        height: 40dvh;
    }
    section.portadasFanzines{
        padding: 0;
        height: 50dvh;
    }
    /*FOOTER*/
    section.flex div.footer-img{
        display: none;
    }
    section.flex{
        width: calc(100% - 20%);
        display: flex;
        flex-direction: column;
    }
    .form{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .form input{
        width: 90vw;
    }
    .form button{
        position: relative;
        left: 210px;
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
        .flex h2 {
        font-size: 30px;
        position: relative;
        top: 0px;
        }
}