@media (max-width: 1024px){
        *{padding: 0;
            margin: 0;
    }
    .cursor-personalizado{
        display: none;
    }
    header{
        position: fixed;
        background: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
    }
    .parallaxText{
        font-weight: 500;
        padding: 20px;
        position: relative;
        font-size: 2em;
        color: var(--color-principal);
    }
    footer{  height:"100%";
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        background-color: black;
    }
    section.grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 0;
        width: 100%;
    }
    .grid img{
            grid-column: 1;
            grid-row: 1/5;
            width: 100%;
            height: 100%;
            object-fit: cover;
            align-self: center;
            transform: translate(-70px, 20px);
            overflow: hidden;
        }
        .grid h2{
            grid-column: 2;
            grid-row: 1;
            font-size: 60px;
            color: white;
            line-height: 0.85;
            margin-bottom: 20px 0;
            position: relative;
            top: -30px;
            left: -30px;
        }
        section.grid button{
            grid-column: 2;
            justify-self: end;
            background-color: white;
            color: black;
            border: none;
            padding: 0px 10px;
            margin: 30px;
            font-size: 18px;
            transition: 0.2s ease-in-out;
        }
}
