@media (max-width: 1180px){
    *{
        padding: 0;
        margin: 0;
    }
    .cursor-personalizado{
        display: none;
    }
    header{
        position: fixed;
        background: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
    }
    header .logo{
        display: none;
    }
    header .about-us{
        display: none;
    }
    .parallaxText{
        font-weight: 500;
        padding: 20px;
        position: relative;
        font-size: 2em;
        color: var(--color-principal);
    }
    header .boton-menu{
        width: 80px;
        height: 60px;
        background: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        position: relative;
        transition: all 0.3s ease;
        border: none;
        }
            .boton-menu span{
                display: block;
                width: 40px;
                height: 4px;
                background-color: var(--color-principal);
            }
            .desplegado span{
                display: block;
                width: 40px;
                height: 4px;
                background-color: black;
            }
    footer{
        min-height: 75dvh;
    }
    .flex h2{
        font-size: 72px;
    }
    .flex .footer-img{
        justify-content: center;
        align-items: center;
    }
}