@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

:root{
    --color-principal: #E9E767;
    --tipo: "Funnel Display"
}
*{
    cursor: none !important;
    margin: 0;
    padding: 0;
}
body{
    font-family: var(--tipo);
    background-color: rgb(30, 30, 30);
}
.cursor-personalizado{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-principal);
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 10;
    left: var(--x, 50%);
    top: var(--y, 50%);
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease;
}
    .cursor-personalizado.cursor-activo{
    width: 30px;
    height: 30px;
}

header{
    position: fixed;
    background-color: var(--color-principal);
    height: 13dvh;
    width: 100%;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s ease;
    z-index: 9;
}
        .header-hidden{
            transform: translateY(-100%);
        }
        header button, nav{
            display: none;
        }
    .parallaxText{
        font-weight: 500;
        padding: 20px;
        position: relative;
        font-size: 2em;
    }
    div.trazo{
        position: relative;
        left: 20px;
        width: 85px;
        height: 37px;
        overflow: hidden;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: flex-end;
    }
        .trazo p{
        white-space: nowrap;
        position: absolute;
        left: -230px;
    }
    div.bruto{
        position: relative;
        left: 40px;
        width: 90px;
        height: 37px;
        overflow: hidden;
        display: flex;
    }
        .bruto p{
        white-space: nowrap;
        position: absolute;
        left: 0px;
    }
div.logo, .logo-link, .logo-img{
    transition: transform 0.3s ease-out;
}
    .logo-link {
        display: inline-block;
        width: 100px;
        height: 100px;
    }
    .logo-img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        object-position: center; 
    }
header div.menu_main ul{
    list-style: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    justify-content: space-between;
}
    div.menu_main a{
        text-decoration: none;
        font-size: 18px;
        letter-spacing: -0.5px;
        line-height: 12px;
        color: black;
        display: inline-block;
        position: relative;
        transform: translateX(0);
        transition: transform 0.3s ease;
    }
    div.menu_main a::after{
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        width: 0px;
        height: 3px;
        background-color: black;
        transition: width 0.3s ease, right 0.3s ease;
    }
    .menu_main a:hover,
    .menu_main li.activo a{
        transform: translateX(-50px);
    }
    .menu_main a:hover::after,
    .menu_main li.activo a::after{
        width: 35px;
        right: -50px;
}
section.img-main{
    height: 100dvh;
    width: 100%;
    background: url(../img/06.jpg)no-repeat center/ cover fixed;
}
main{
    height: auto;
}


main h2{
    display: inline-block;
    color: var(--color-principal);
    font-size: 150px;
    position: relative;
    left: 150px;
    top: -85px;
    line-height: 140px;
}
main h3{
    display: inline-flex;
    align-items: baseline;
    color: white;
    font-size: 42px;
    position: relative;
    top: -30px;
    left: 0px;
}
h3 span.animacion{
    display: inline-flex;
    overflow: hidden;
    height: 1.5em;
    vertical-align: bottom;
    margin: 0 12px;
}
span.animacion .contenido{
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
}
.animacion span{
    display: block;
    height: 1.5em;
    line-height: 1.5em;
}
span.animacion:hover span.contenido{
    transform: translateY(-1.5em);
}
main div.manifiesto{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 20px;
}
    div.manifiesto h2{
        display: flex;
        font-size: 72px;
        margin-top: 25px;
        left: 0;
        top: 0;
        margin: 0 40px;
    }
    div.manifiesto .texto-gif{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin: 0 40px;
    }
    div.manifiesto p{
        display: flex;
        text-align: right;
        font-size: 32px;
        color: white;
        justify-content: flex-end;
        flex-direction: column;
    }
    div.manifiesto p span{
        display: flex;
        justify-content: flex-end;
        color: #EB6772;
        font-weight: 600;
    }
    .texto-gif div.gif{
        display: flex;
        transform: rotate(180deg);
        position: relative;
        top: 120px;
        left: 100px;
}
section.carrusel{
    display: flex;
    overflow-x: hidden;
    width: 100%;
    height: 60dvh;
    display: flex;
    gap: 10px;
    padding-bottom: 20px;
    user-select: none;
}
    .carrusel::-webkit-scrollbar {
        display: none;
    }
    .carrusel img {
        flex: 0 0 calc(25% - 10px);
        width: calc(25% - 10px);
        height: 100%;
        object-fit: cover;
        pointer-events: none;
    }
section.portadasFanzines{
    width: 100%;
    height: 125dvh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 50px;
}
section.portadasFanzines div{
    width: 100%;
    height: 25dvh;
}
.portadasFanzines div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer{
    width: 100%;
    min-height: 75%;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
    footer section.flex{
        display: flex;
        width: 100%;
        height: 100%;
    }
    .flex div.footer-img{
        width: 50%;
        overflow: hidden;
        display: flex;
        
    }
    .flex div.form{
        width: 50%;
        display: flex;
        flex-direction: column;
    }
        .flex h2{
            padding-top: 10px;
            font-size: 90px;
            color: white;
            line-height: 0.85;
            position: relative;
            top: 0px;
            left: -75px;
        }
        section.flex input{
            padding: 20px;
            background-color: rgba(30, 30, 30, 0.6);
            color: white;
            border: none;
            border-bottom: white 2px solid;
            outline: none;
            margin: 20px;
            font-size: 18px;
            box-sizing: border-box;
        }
        section.flex button{
            justify-self: end;
            background-color: white;
            color: black;
            border: none;
            padding: 20px 40px;
            margin: 20px;
            font-size: 18px;
            transition: 0.2s ease-in-out;
        }
            section.flex button:hover{
                background-color: var(--color-principal);
                color: black;
                transform: translateY(-10px);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
            }
    section.pie-pagina{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
        padding-bottom: 20px;
    }
    .pie-pagina p{
        color: white;
        margin-bottom: 1%;

    }
    footer a{
        text-decoration: none;
        color: white;
    }
    footer a:hover{
        color: black;
        background-color: var(--color-principal);
    }