@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

:root{
    --color-principal: #E9E767;
    --tipo: "Funnel Display"
}
*{
    cursor: none !important;
    margin: 0;
    padding: 0;
}
html,body{
    font-family: var(--tipo);
}
.cursor-personalizado{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-principal);
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 10;
    left: var(--x, 50%);
    top: var(--y, 50%);
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease;
}
    .cursor-personalizado.cursor-activo{
    width: 30px;
    height: 30px;
}

header{
    position: fixed;
    background-color: var(--color-principal);
    height: 13dvh;
    width: 100%;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.4s ease;
    z-index: 9;
}
        .header-hidden{
            transform: translateY(-100%);
        }
    .parallaxText{
        font-weight: 500;
        padding: 20px;
        position: relative;
        font-size: 2em;
    }
    div.trazo{
        position: relative;
        left: 20px;
        width: 85px;
        height: 37px;
        overflow: hidden;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: flex-end;
    }
        .trazo p{
        white-space: nowrap;
        position: absolute;
        left: -230px;
    }
    div.bruto{
        position: relative;
        left: 40px;
        width: 90px;
        height: 37px;
        overflow: hidden;
        display: flex;
    }
        .bruto p{
        white-space: nowrap;
        position: absolute;
        left: 0px;
    }
div.logo, .logo-link, .logo-img{
    transition: transform 0.2s ease-out;
}
    .logo-link {
        display: inline-block;
        width: 100px;
        height: 100px;
    }
    .logo-img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        object-position: center; 
    }
a.about-us{
    position: relative;
    display: inline-block;
    padding: 0 20px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    height: 20px;
    overflow: hidden;
}
    .about-us p:first-child{
        display: block;
        transition: transform 0.3s ease;
        width: 100%;
    }
    .about-us p:last-child{
        position: absolute;
        box-sizing: border-box;
        top: 100%;
        transition: transform 0.3s ease;
    }
    .about-us:hover p:first-child{
        transform: translateY(-100%);
    }
    .about-us:hover p:last-child{
        transform: translateY(-100%);
    }
section.img-main{
    height: 100dvh;
    width: 100%;
    background: url(../img/06.png)no-repeat center/ cover fixed;
}
main{
    background-color: rgb(30, 30, 30);
    height: 200dvh;
}
main h2{
    display: inline-block;
    color: var(--color-principal);
    font-size: 150px;
    position: relative;
    left: 150px;
    top: -85px;
    line-height: 140px;
}
main h3{
    display: inline-flex;
    align-items: baseline;
    color: white;
    font-size: 42px;
    position: relative;
    top: -30px;
    left: 0px;
}
h3 span.animacion{
    display: inline-flex;
    overflow: hidden;
    height: 1.5em;
    vertical-align: bottom;
    margin: 0 12px;
}
span.animacion .contenido{
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
}
.animacion span{
    display: block;
    height: 1.5em;
    line-height: 1.5em;
}
span.animacion:hover span.contenido{
    transform: translateY(-1.5em);
}
footer{
    width: 100%;
    height: 75dvh;
    padding-bottom: 20px;
    background-color: black;
    display: flex;
    flex-direction: column;
}
    section.grid{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,1fr);
    width: 100%;
    height: 100%;
    align-content: center;
    column-gap: 20px;
    }
        .grid img{
            grid-column: 1;
            grid-row: 1/5;
            width: 100%;
            height: 100%;
            object-fit: cover;
            align-self: center;
            transform: translate(-70px, 20px);
        }
        .grid h2{
            grid-column: 2;
            grid-row: 1;
            font-size: 90px;
            color: white;
            line-height: 0.85;
            margin-bottom: 40px;
            position: relative;
            top: -60px;
            left: -60px;
        }
        section.grid input{
            padding: 20px;
            grid-column: 2;
            background-color: rgba(30, 30, 30, 0.6);
            color: white;
            border: none;
            border-bottom: white 2px solid;
            outline: none;
            margin: 20px;
            font-size: 18px;
        }
        section.grid button{
            grid-column: 2;
            justify-self: end;
            background-color: white;
            color: black;
            border: none;
            padding: 20px 40px;
            margin: 20px;
            font-size: 18px;
            transition: 0.2s ease-in-out;
        }
            section.grid button:hover{
                background-color: var(--color-principal);
                color: black;
                transform: translateY(-10px);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
            }
    footer p.pie-pagina{
        font-size: 18px;
        color: white;
        align-self: center;
        justify-content: flex-end;
        position: relative;
        top: -20px;
    }
    footer a{
        text-decoration: none;
        color: white;
    }
    footer a:hover{
        color: black;
        background-color: var(--color-principal);
    }