@media screen and (max-width: 450px){
.about-us{
    font-size: 42px;
    padding: 100px 0 20px 20px;
}
div.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding-top: 20px;
}
div.info:nth-child(odd) {
    background-color: var(--color-principal);
    flex-direction: column;
}
.info p{
    font-size: 18px;
    width: 100%;
    height: auto;
    text-align: center;
    order: 3;
    padding: 10px 30px;
    box-sizing: border-box;
    }
div.info:nth-child(odd) p {
    color: black;
    text-align: center;
}
div.info img{
    order: 1;
    width: 100%;
    height: 40dvh;
}
.contenedor{
    display: contents;
}
div.iconos{
    order: 2;
}

div.info:nth-child(even) .iconos {
    align-self: center; 
}
div.info:nth-child(odd) .iconos {
    align-self: center; 
}
div.iconos img {
        width: 35px;
        height: auto;
    }
    div.iconos a {
        max-width: 100%;
    }
}

