.about-us {
    display: inline-block;
    color: white;
    font-size: 120px;
    padding: 130px 0 0 100px;
    line-height: 0.8;
}

div.info {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50dvh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 20px 0 20px;
    z-index: 1;
}

.contenedor {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 50px;
}

div.info img {
    width: auto;
    height: 100%;
    object-fit: contain;
}

.info p{
    color: white;
    font-size: 32px;
    width: 100%;
}
.contenedor span{
    background-color: var(--color-principal);
    color: black;
    font-weight: 500;
}
.info:nth-child(odd) .contenedor span{
    background-color: black;
    color: var(--color-principal);
}
div.info:nth-child(odd) {
    background-color: var(--color-principal);
    flex-direction: row-reverse;
}

div.info:nth-child(odd) p {
    color: black;
    text-align: end;
}

div.info:nth-child(odd) .iconos {
    align-self: flex-end;
}

div.info:nth-child(even) {
    background-color: rgb(30, 30, 30);

}
div.info:nth-child(even) .iconos {
    align-self: flex-start; 
}

div.info:last-of-type {
    position: relative;
    z-index: 2;
}
div.iconos {
    height: 50px;
    margin-top: 15px;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
}
div.iconos img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: flex;
    
}
div.ico{
    width: 50px;
    height: 50px;
    background-color: var(--color-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
footer {
    position: relative;
    z-index: 3;
}